@model _2106PaymentModule.Models.WalletTransaction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WalletTransaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.walletId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.walletId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transactionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transactionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transactionAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transactionAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.transactionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.transactionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.walletTransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
