@model IEnumerable<_2106PaymentModule.Models.WalletTransaction>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.walletId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transactionAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transactionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.walletId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transactionAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transactionDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.walletTransactionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.walletTransactionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.walletTransactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
